<%- include("../layout/boilerplat.ejs") %>

    <body>

        <h2>Order Confirmation</h2>

        <div class="order-summary">
            <h3>Order Summary</h3>

            <div id="orderItems" class="order-items">

                <% cartItems.forEach(item => { %>
                    <div class="cart-item">
                        <div class="item-details">
                            <span><%= item.name %> x <%= item.quantity %></span>
                        </div>
                        <div class="item-price">
                            ₹<%= (item.price * item.quantity).toFixed(2) %>
                        </div>
                    </div>
                <% }); %>
                
            </div>

            <div id="orderTotal" class="cart-summary">

                <div class="summary-row">
                    <span>Subtotal:</span>
                    <span>₹<%= totalPrice.toFixed(2) %></span>
                </div>
                <div class="summary-row">
                    <span>Tax:</span>
                    <span>₹<%= (totalPrice * 0.1).toFixed(2) %></span>
                </div>
                <div class="summary-row total">
                    <span>Total:</span>
                    totalPrice
                    <span>₹<%= (totalPrice + (totalPrice * 0.1)).toFixed(2) %></span>
                </div>
                

            </div>

            <div class="estimated-time">
                <h4>Your order has been sent to the kitchen! </h4>
                <p id="estimatedTime">Pay before your food arrives and get 10% OFF!</p>
            </div>
        </div>

        <div class="confirmation-actions">
            <a href="/cart" class="btn btn-outline">Back to Cart</a>
            <!-- <a href="payment.html" class="btn">Proceed to Payment</a> -->
            <button id="checkout-button" class="btn">Pay Now</button>

        </div>
        
        <script src="https://js.stripe.com/v3/"></script>
        <script>
            let totalPricetex = "<%= (totalPrice + (totalPrice * 0.1)).toFixed(2) %>";
        </script>
        <script>
            
        document.getElementById("checkout-button").addEventListener("click", async () => {
            const response = await fetch("http://localhost:8080/create-checkout-session", { method: "POST", headers: { "Content-Type": "application/json" }, body: JSON.stringify({ amount:(totalPricetex-(totalPricetex*0.1)) }) });
            const session = await response.json();
        
            const stripe = Stripe("pk_test_51R9s39GT0TdKgkfkSNSvWQuwiDVTzd2fFObfmut1vL4m6jGEicdjjZmqZHiKbzgwenwJH46Sp5afm389Q7vfeg9400ZN8qVEhM");
            stripe.redirectToCheckout({ sessionId: session.id });
        });
        </script>
        
        <!-- <script src="confirm.js"></script> -->
    </body>

    </html>